<% layout("/layouts/boilerplate") %>
<div class="row">
    <h1 class="col-6 offset-3 mb-3">SignUp on WanderLust</h1>
</div>
<div class="row">
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation mt-3" novalidate >
            <div class="mb-3">
                <label for="username" class="form-label">username:</label>
                <input name="username" type="text" class="form-control" required id="username">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email:</label>
                <input name="email" type="text" class="form-control" required id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password:</label>
                <input name="password" type="text" class="form-control" required id="password">
            </div>
            <button class="btn btn-outline-dark">Signup</button>
        </form>

        
    </div>
</div>